/*
⦁	Background color: #dddddd;
⦁	Text color: #95191a;
⦁	Width container: 300px;
⦁	Border: 1px solid #000000;

*/
#wrapper{
    background-color: #dddddd;
    color: #95191a;
    width: 300px;
    border:  1px solid #000000;
}